mailchimp3==3.0.4
requests==2.23.0
urllib3==1.24.2
chardet==3.0.4
certifi==2020.4.5.1
idna==2.9
PySocks==1.7.1
pyOpenSSL==18.0.0
cryptography==2.3
google-api-python-client==1.7.3
uritemplate==3.0.0
six==1.14.0
oauth2client==4.1.2
httplib2==0.11.3
hypothesis==3.58.1
attrs==18.1.0
coverage==4.5.1

flake8==3.5.0
configparser==3.5.0
pycodestyle==2.3.1 # pyup: <2.4.0
pyflakes==2.2.0
mccabe==0.6.1
