mailchimp3==3.0.4
requests==2.20.0
urllib3==1.24.2
chardet==3.0.4
certifi==2018.4.16
idna==2.7
PySocks==1.6.8
pyOpenSSL==18.0.0
cryptography==2.2.2
google-api-python-client==1.7.3
uritemplate==3.0.0
six==1.11.0
oauth2client==4.1.2
httplib2==0.11.3
hypothesis==3.58.1
attrs==18.1.0
coverage==4.5.1

flake8==3.5.0
configparser==3.5.0
pycodestyle==2.3.1 # pyup: <2.4.0
pyflakes==2.0.0
mccabe==0.6.1
